table {
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
	padding: 10px;
}

#title {
	margin: 50px auto;
	text-align: center;
    border-collapse: collapse;
}
#msg {
	margin: 20px auto;
	text-align: center;
    border-collapse: collapse;
}

#tables_div {
	display:flex;
	justify-content:center
}

#clickable {
	cursor: pointer;
}