html, body{
	margin: 0;
	height: 100%;
	overflow: hidden;
}

fieldset{
	border: none;
	background-color: #FFFFFF;
	pointer-events: none;
	display: inline-block;
}

canvas{
	cursor: url(cursor.png) 16 16, crosshair;
}

#tools{
	position: fixed;
	top: 42%;
	left: 1%;
	pointer-events: none;
}

.t_cell{
	display: block;
	width: 30px;
	height: 30px;
    border: 4px solid #000000;
	background-color: #FFFFFF;
	overflow: hidden;
}


#t1{
	background-image: url(toolStraight.png);
}
#t2{
	background-image: url(toolCurve.png);
}
#t3{
	background-image: url(toolArrow.png);
}
#t4{
	background-image: url(toolSquare.png);
}
#t5{
	background-image: url(toolCircle.png);
}
#t6{
	background-image: url(toolText.png);
}

#tr0{
	display: block;
	padding-bottom: 20px;
}
#tr7{
	display: block;
	padding-top: 20px;
}

.p_cell{
	width: 30px;
	height: 38px;
    border: 4px solid #000000;
	padding:0px;
	background-color: #FFFFFF;
}

#palette{
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	pointer-events: none;
}

#chat{
	position: fixed;
	bottom: 0px;
	right: 0px;
}

#chat_input{
	float: right;
}

#chat_text{
	max-width: 200px;
	word-wrap: break-word;
}

#chat_title{
	text-align: center;
}

#title{
	position: fixed;
	top: 0px;
	left: 0px;
}

#title_text{
	text-align: center;
}

#clients{
	position: fixed;
	top: 0px;
	right: 0px;
}

#clients_count{
	text-align: center;
}

#names{
	max-width: 200px;
	word-wrap: break-word;
}

#rooms_div{
	position: fixed;
	top: 0px;
	width: 100%;
	text-align: center;
	pointer-events: none;
}

#rooms_title{
	text-align: center;
}

#help_div{
	position: fixed;
	top: 30%;
	width: 100%;
	text-align: center;
	pointer-events: none;
}

#help{
	text-align: left;
}

#clear{
	position: fixed;
	bottom: 0px;
	left: 0px;
}

#msg_div{
	position: fixed;
	top: 70%;
	width: 100%;
	text-align: center;
	pointer-events: none;
}

#download_div{
	position: fixed;
	bottom: 50px;
	width: 100%;
	text-align: center;
	pointer-events: none;
}