html, body{
	margin: 0;
	height: 100%;
	overflow: hidden;
}

#chat{
	position: fixed;
	bottom: 10px;
	right: 10px;
	pointer-events: none;
	z-index:-1;
}

#chat_input{
	float: right;
}

#chat_text{
	max-width: 200px;
	word-wrap: break-word;
}

#chat_title{
	text-align: center;
}

#title{
	position: fixed;
	top: 10px;
	left: 10px;
	pointer-events: none;
	z-index:-1;
}

#title_text{
	text-align: center;
}

#clients{
	position: fixed;
	top: 10px;
	right: 10px;
	pointer-events: none;
	z-index:-1;
}

#clients_count{
	text-align: center;
}

#names{
	max-width: 200px;
	word-wrap: break-word;
}

#rooms{
	position: fixed;
	top: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	pointer-events: none;
	z-index:-1;
}

#rooms_title{
	text-align: center;
}