html, body{
	margin: 0;
	height: 100%;
	overflow: hidden;
}

#chat{
	position: fixed;
	bottom: 10px;
	right: 10px;
	pointer-events: none;
	z-index:-1;
}

#chat_input{
	float: right;
}

#chat_text{
	max-width: 200px;
	word-wrap: break-word;
}

#title{
	position: fixed;
	top: 10px;
	left: 10px;
	pointer-events: none;
	z-index:-1;
}

